* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: cyan;
  }
  .container {
    min-width:500px;
    max-width:1600px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3rem;
    border-radius: 0.8em;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-decoration:underline;
    color:blue;
    position:relative;
    bottom:20px;
  }

  h1::first-letter{
     font-size:2.1em;
     color:red;
  }
  input {
    width: 60%;
    border: 1px solid #000000;
    padding: 1em;
    border-radius: 0.7em;
    position:relative;
    bottom:30px;
  }
  button {
    background-color: cyan;
    color: black;
    border: none;
    width: 38%;
    border-radius: 0.7em;
    padding: 1em;
    font-size: 0.8em;
    cursor:pointer;
    position:relative;
    bottom:30px;
  }
